.destination {
  --destination-select-font-size: 1.5rem;
  --destination-name-font-size: 5rem;
  --travel-distance-heading-font-size: 0.65rem;
  --travel-distance-content-font-size: 1.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.destination-image-wrapper {
  text-align: center;
}

.destination-image-wrapper img {
  max-width: 100%;
}

.details {
  display: grid;
  gap: 20px;
}

.destinations-select {
  display: flex;
  gap: 30px;
  width: max-content;
}

.destination-select {
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  overflow: hidden;
  font-size: var(--destination-select-font-size);
  font-family: var(--secondary-font), sans-serif;
}

.destination-name {
  font-family: var(--tertiary-font), sans-serif;
  font-size: var(--destination-name-font-size);
}

.travel {
  display: flex;
  gap: 50px;
  position: relative;
  padding-top: 40px;
}

.travel > div *:nth-child(1) {
  font-size: var(--travel-distance-heading-font-size);
  opacity: 0.5;
}

.travel > div *:nth-child(2) {
  font-family: var(--tertiary-font), sans-serif;
  font-size: var(--travel-distance-content-font-size);
}

.travel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid;
  opacity: 0.5;
}

@media (max-width: 1070px) {
  .destination {
    grid-template-columns: max-content;
    padding-bottom: 40px;
    width: max-content;
    margin: 0 auto;
  }

  .destinations-select {
    margin: 0 auto;
  }

  .destination-name {
    text-align: center;
  }

  .destination-description {
    width: 50ch;
    line-height: 130%;
    text-align: center;
    margin: 0 auto;
  }

  .travel {
    justify-content: center;
  }

  .destination-image-wrapper img {
    max-width: 70%;
  }
}

@media (max-width: 600px) {
  .destination {
    --destination-select-font-size: 1.2rem;
    --destination-name-font-size: 3rem;
    --travel-distance-heading-font-size: 0.65rem;
    --travel-distance-content-font-size: 1.2rem;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .destination-name {
    text-align: center;
  }

  .destination-description {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .travel {
    padding-top: 10px;
    justify-content: space-between;
  }
}
