.overlay {
  background: url('../../../assets/images/crew/background-crew-desktop.jpg')
    no-repeat left bottom;
  background-size: cover;
}

.crews {
  --controls-size: 1.5rem;
  position: relative;
  overflow: hidden;
}

.crew-list {
  display: flex;
  overflow: hidden;
}

.prev-crew,
.next-crew {
  position: absolute;
  display: grid;
  place-content: center;
  width: var(--default-horizontal-padding);
  font-size: var(--controls-size);
  height: 5%;
  top: 42.5%;
  cursor: pointer;
  transition: transform 0.5s;
  opacity: 0.7;
  font-family: var(--secondary-font);
}

.prev-crew {
  left: 0;
  writing-mode: sideways-rl;
}

.next-crew {
  right: 0;
  writing-mode: vertical-lr;
}

.prev-crew:hover,
.next-crew:hover {
  transform: scale(130%) rotateZ(180deg);
}

@media (max-width: 1070px) {
  .overlay {
    background-image: url('../../../assets/images/crew/background-crew-tablet.jpg');
  }
}

@media (max-width: 700px) {
  .coverlay {
    background-image: url('../../../assets/images/crew/background-crew-mobile.jpg');
  }
}
