.overlay {
  background: url('../../../assets/images/crew/background-crew-desktop.jpg')
    no-repeat left bottom;
  background-size: cover;
}

.crews {
  padding-top: 20px;
}

.intro {
  position: absolute;
  font-family: var(--secondary-font), sans-serif;
  opacity: 0.6;
}

.intro span {
  opacity: 0.7;
  margin-right: 20px;
}

.crew-list {
  height: 100%;
}

.view-controls {
  display: grid;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0%;
  align-content: center;
  gap: 10px;
  padding-left: calc(var(--default-horizontal-padding) / 2);
}

.view-control {
  background-color: var(--primary-color);
  padding: 4px;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.5s;
}

.view-control--current {
  opacity: 1;
}

@media (max-width: 1070px) {
  .overlay {
    background-image: url('../../../assets/images/crew/background-crew-tablet.jpg');
  }

  .intro {
    display: none;
  }
}

@media (max-width: 700px) {
  .coverlay {
    background-image: url('../../../assets/images/crew/background-crew-mobile.jpg');
  }
}
