.crew {
  --role-font-size: 1.5rem;
  --name-font-size: 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-wrapper {
  align-self: flex-end;
}

.image-wrapper img {
  max-width: 100%;
}

.role {
  font-size: var(--role-font-size);
  font-family: var(--tertiary-font), sans-serif;
  opacity: 0.7;
}

.name {
  margin: 10px 0 20px;
  font-size: var(--name-font-size);
  font-family: var(--tertiary-font);
  line-height: 90%;
  width: max-content;
}

.bio {
  width: 45ch;
  line-height: 150%;
}

@media (max-width: 1070px) {
  .crew {
    --role-font-size: 2rem;
    --name-font-size: 4.2rem;

    grid-template-columns: 1fr;
    text-align: center;
  }

  .text-container {
    align-self: flex-end;
  }

  .name {
    width: 100%;
  }

  .bio {
    margin: 0 auto;
    width: 50ch;
    line-height: 150%;
  }

  .image-wrapper {
    align-self: flex-end;
  }

  .image-wrapper img {
    height: 50vw;
  }
}

@media (max-width: 700px) {
  .crew {
    align-content: flex-start;
    gap: 50px;
    overflow: initial;
  }

  .text-container {
    order: 1;
    padding-bottom: 30px;
  }

  .image-wrapper {
    order: 0;
    width: 50vw;
    margin: 0 auto;
  }

  .image-wrapper img {
    height: auto;
  }

  .bio {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .crew {
    --role-font-size: 1.1rem;
    --name-font-size: 2rem;
  }
}
