.padding-horizontal {
  padding: initial 10rem;
}

.hover-down {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.active,
.hover-down--bottom,
.hover-down:hover {
  opacity: 1;
}

.hover-down::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 120%;
  background-color: currentColor;
  transition: bottom 0.5s;
}

.active::after,
.hover-down--bottom::after,
.hover-down:hover::after {
  bottom: 0%;
}

.no-visible-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet-Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-display {
  display: none !important;
}

.route-content {
  --height-size: calc(100vh - var(--navbar-height) - 2vh);
  position: relative;
  height: var(--height-size);
  margin-top: 2vh;
  padding: var(--default-padding);
}

.page-short-info {
  font-family: var(--secondary-font), sans-serif;
  letter-spacing: 3.5px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.page-short-info span {
  margin-right: 20px;
  opacity: 0.6;
}

@media (max-width: 1070px) {
  .route-content {
    --height-size: calc(100vh - var(--navbar-height));
    margin-top: 0;
  }
  .page-short-info {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .page-short-info {
    font-size: 90%;
  }
}
