@font-face {
  font-family: Barlow-Regular;
  src: url('./assets/fonts/Barlow/Barlow-Regular.ttf');
}

@font-face {
  font-family: Barlow-Condensed;
  src: url('./assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}

@font-face {
  font-family: Bellefair-Regular;
  src: url('./assets/fonts/Bellefair/Bellefair-Regular.ttf');
}

@import './styles/reset.css';
@import './styles/variables.css';
@import './styles/utilities.css';

body {
  background-color: var(--space-blue);
  color: var(--primary-color);
  font-size: var(--regular-font-size);
  font-family: var(--primary-font), sans-serif;
  overflow-x: hidden;
}
